*{
    margin: 0px;
    padding: 0px;
}
header{
   
    background-color: #367DD9;
    height: 100px;
}
main{
    height: 400px;
    background-color: #82B8D9;
}
footer{
    height: 100px;
    background-color: #448C30;
}

